@{
    ViewData["Title"] = "Home Page";
}

<div>
    
    <h1 class="display-4" style="text-align : center">Taghelpers</h1>
    <br />
    <!--<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    <div >
        <h4>a taghepler for border of the Books</h4>
        <image-view-details src="https://i0.wp.com/highschool.latimes.com/wp-content/uploads/2022/06/They-Both-Die-At-The-End-1.png?fit=1516%2C1010&ssl=1.jpg" />

        </div>
		<div class="Booksize">
			<img src="https://i0.wp.com/highschool.latimes.com/wp-content/uploads/2022/06/They-Both-Die-At-The-End-1.png?fit=1516%2C1010&ssl=1.jpg" >
			<bookdiv>
				<button>View More</button>
				<p>Hello World!</p>
			</bookdiv>
		</div>
        


        

   

        
    

    
</div>
